body{ background-color: darkgreen;
    

}
.tulp{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornflowerblue;
    padding:20px;
    width: 33%;
    background-color: aquamarine;
    border: 20cm;
    border-radius: 20px;
    border-color: cadetblue;
    text-align: center;
    margin:auto;
    font-size: larger;
    font-weight: 200;
    float:left;

}
img{
    width: 500px;
    height: 200px;
    border: 10px;
    border-color: chartreuse;
    border-radius: 10px;
    box-shadow:60cm;
}
.jarjend{
    width:20%;
    background-color: aquamarine;
    border: 20cm;
    border-radius: 20px;
    padding:20px;
    float:left;
    margin-left:3%;
    
}
.tabel{
    background-color: aquamarine;
    border: 20cm;
    border-radius: 20px;
    width:200px;
    text-align: center;
    height: 100px;
    float:right;
    padding:80px;
    font-size:x-large;
    align-self:center;
    position: static;
}
h1{
    color:darkblue;
    font-family: fantasy;
    font-weight: 700;
}